@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplikacje Webowe .NET</h1>
    <p>Projekt zaliczeniowy - Adam Lisowski (nr albumu 70738)</p>
</div>
