@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Nisi dolor irure nulla ullamco do voluptate laboris nulla non minim deserunt aliquip reprehenderit. Sit aliqua officia nulla consectetur amet consectetur aliqua ipsum quis in commodo ipsum reprehenderit veniam. Magna elit eiusmod eiusmod deserunt do consectetur nulla quis qui. Occaecat ullamco magna et laborum. Aliqua tempor mollit sunt consequat culpa nulla reprehenderit qui ipsum ullamco ex qui. Magna consequat ex fugiat labore aute aliqua exercitation in consectetur quis.</p>
